<%- include('start'); %>

<form method="post" action="/api/register">
  <div class="form-group">
    <label for="userName">Enter your name:</label>
    <input type="text" id="userName" name="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="userEmail">Enter your email:</label>
    <input type="email" id="userEmail" name="email" class="form-control" />
  </div>
  <div class="form-group">
    <label for="userPassword">Enter your password:</label>
    <input
      type="password"
      id="userPassword"
      name="password"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="userCountry">Enter your country:</label>
    <select class="form-control" name="country" id="userCountry">
      <% for(let country of countries){ %>
      <option value="<%= country.country_id %>">
        <%=country.country_name%> (<%= country.country_abbr%>)
      </option>
      <%}%>
    </select>
  </div>
  <div class="form-group">
    <label for="userDob">Enter your date of birth:</label>
    <input type="date" id="userDob" name="dob" class="form-control" />
  </div>
  <div class="form-group row">
    <label for="isArtist">Are you an artist?</label>
    <input type="checkbox" id="isArtist" name="isArtist" class="form-check" />
  </div>
  <div style="display: none" class="form-group">
    <label for="artistStageName">Enter your stage name:</label>
    <input
      disabled
      type="text"
      id="artistStageName"
      name="stageName"
      class="form-control"
    />
  </div>

  <input type="submit" />
</form>

<script>
  const checkbox = document.querySelector('#isArtist');
  const stageName = document.querySelector('#artistStageName');
  checkbox.addEventListener('click', (e) => {
    stageName.parentElement.style.display = e.target.checked ? 'block' : 'none';
    stageName.disabled = !e.target.checked;
  });
</script>

<%- include('end'); %>
